body{
  padding: 0;
  margin: 0;
  background:  linear-gradient(to right, hsl(0, 92%, 95%), #c1baba);
}

.wrapper{
  min-height: 100vh;
}

@media(max-width:600px){
  .wrapper{
    min-height: 240vh;
  }
}