body{
  padding: 0;
  margin: 0;
  /**background:  linear-gradient(to right, hsl(0, 92%, 95%), #c1baba);*/
}

.wrapper-0 {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-space{
  flex-basis:100%;
}

@media(max-width:600px){
  .wrapper{
    min-height: 100vh;
    margin-bottom: 13.5rem;
  }

 
}