.admin {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.selection {
    flex: 0 0 10%;
    background-color: #f5f5f5;
    padding: 10px;
}

.selection ul {
    list-style: none;
    padding: 0;
}

.selection li {
    margin-bottom: 10px;
}

.selection a {
    text-decoration: none;
    color: #333;
}

.mainContent{
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.menuItem{
    display: block;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.menuItem:hover{
    background-color: #f0f0f0;
}

.active{
    background-color: #e0e0e0;
}


.userManagement {
    margin-right: 2rem;
    padding: rem;
}

.userManagement h3 {
    text-align: center;
}

.searchQuery {
    width: 100%;
    border: none;
    margin-bottom: 1rem;
}



.takenExamBtn {
    border: none;
    padding: 10px;
    border-radius: 15px;
    margin: 8px;
}

.takenExamBtn:hover {
    background-color: red;
    cursor: pointer;
    color: white;
}

.resetAllBtn {
    margin-top: 3rem;
    padding: 10px 20px;
    background-color: #fb0e0e;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    width: 100%;
}

.resetAllBtn:hover {
    background-color: #0056b3;
}


/* Styling the table   */
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 1px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #ac9a9a;
}

tr:hover {
    background-color: #c3baba;
}


/* The section view  */
.selection {
    color: #1a1818;
    font-size: 1rem;
    font-weight: 400;
}