.theExam {
  /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(11.25rem, 100%), 1fr));
    grid-gap: 1rem; */

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
  grid-gap: 20px;

  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 900;
  font-style: inherit;
  color: #3d3434;
}

.examImage {
  margin-top: 40px;
  width: 500px;
  height: 200px;
  display: block;
  border-radius: 15px;
  background-color: white;
}

.question {
  margin-top: 15px;
}

/* ================== */
.firstR {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px; 
}

.firstR input[type="radio"] {
  margin-top: 1px; 
  flex-shrink: 0;
}

.firstR input[type="radio"] {
  margin-right: 10px; /* Adds a bit of space between the button and the text */
  flex-shrink: 0; /* Prevents the radio button from shrinking */
}

.firstR span {
  margin-left: -120px;
  max-width: calc(100% - 30px);
  word-wrap: break-word; 
  line-height: 1.; 
  display: inline-block; 
}         


/* ======================== */

.navigationButtons {
  display: flex;
  justify-content: space-between;
}

.prev,
.next {
  margin-top: 2rem;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  width: 5rem;
  cursor: pointer;
}

.prev:hover,
.next:hover {
  background-color: bisque;
}


.endExam {
  display: flex;
  justify-content: center;
}

.endExamBtn {
  margin-top: 20rem;
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1rem;
  border-radius: 10px;
  border: none;
}

.endExamBtn:hover {
  background-color: #f80b0b;
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
}

.redTimer {
  color: red;
}