.theExam {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(11.25rem, 100%), 1fr));
    grid-gap: 1rem; */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
    grid-gap: 20px;

    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    font-style: inherit;
    color: #3d3434;
}

.examImage{
    width: 500px;
    height: 300px;
    display: block;
    border-radius: 15px;
    background-color: white;
}

.question{
    margin-top: 15px;
}

form label{
    background: red;
}

/* input{
    margin: 0px;
    padding: 0px;
    background-color: red;
} */

/* Adjustments for radio buttons */
/* form label {
    display: flex;
    align-items: center;
}

form input[type="radio"] {
    margin-right:0px; 
} */