.uploadQuestionsBiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.uploadQuestionsBiz h1 {
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 2.5rem;
}

.uploadQuestions {
    margin-top: 2rem;
    background-color: rgb(62, 62, 235);
    color: white;
    padding: 0.6rem;
    width: 80%;
    margin: auto;
    border-radius: 1rem;
}

.uploadQuestions:hover {
    cursor: pointer;
    background-color: rgba(61, 61, 233, 0.699);
}


.uplaodQuestionBtn {
    background-color: white;
    padding: 0.85rem;
    color: black;
    border-radius: 1rem;
}

.uplaodQuestionBtn:hover {
    cursor: pointer;
    background-color: rgb(62, 62, 235);
    color: white;
}

.errorUploading {
    color: red;
    text-align: left;
    font-size: 1rem;
}

.uploadAnotherFile{
    background-color: white;
    padding: 0.85rem;
    color: black;
    border-radius: 1rem
}

.uploadAnotherFile:hover{
    cursor: pointer;
    background-color: rgb(62, 62, 235);
    color: white;
}