.footer {
  background-color: whitesmoke;
}

.copyright {
  display: flex;
  padding: 5px 20px;
  justify-content: center;
  color: gray;
  font-family: Courier, monospace;
  font-size: small;
}

/* Media query for small screens */
@media(max-width: 533px) {
  .footer {
    grid-template-columns: 1fr;
    width: 600px;
    overflow: hidden;
  }
}
