.footer {
  background-color: black;
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.paragraph {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

/* Media query for small screens */
@media(max-width: 600px) {
  .footer {
    /* grid-template-columns: 1fr; */
    display: flex;
    flex-direction: column;
    width: 600px;
    overflow: hidden;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-top: 20.2rem;
  }
}

@media (max-width: 600px) {
  .footer {
    /* The only thing needed is to ensure it doesn't have a fixed width */
    width: 100%; /* It will take up the full screen width */
    box-sizing: border-box; /* Include padding in the width calculation */
    padding: 1rem 0;
    margin-top: 2rem; /* Reduced top margin for better spacing */
    text-align: center; /* Center the text inside */
  }
}